  .glowingIcon_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position */
  }
  .contact_icon {
    font-size: 2em;
    background-color: #18191f;
    border-radius: 29px;
    padding: 11px 19px;
    animation: animate 3s linear infinite;
  }
