.testimonial {
    color: white;
    /* height: 1000px; */
}

.color_desc {
    color: rgb(255,200,107);
}

.test_left {
    max-width: 50%;
    margin-left: 200px;
    /* margin: 0; */
}

.test_right {
    position: relative;
    /* max-height: 300px; */
}

.testi_img {
    background-color: rgb(255,200,107);
    border-radius: 50px 0px 0px 50px;
    /* position: absolute; */
    /* top: 0px;
    right:0px */
}


@media only screen and (max-width: 1000px) {
    .test_left {
        max-width: 100%;
        margin: 0;
    }
    .test_right {
      width: 100%;
    }
    .testi_img {
        border-radius: 0;
        width: 100%;
    }
}
